body {
    background-color: #e9e7db;
    font-family: 'cabin sketch';
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
    height: 220px;
}
.mainimg {
     height: 156px;
}


.name {
    font-size: 70px;
    margin: 100px;
    cursor: default;
}


.contact {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -5px;
    cursor: default;
}
a {
    color: #000;
    text-decoration: none;
    font-size: 40px;
}
a:hover {
    color: #3b1217;
}
.line {
    width: 2px;                  
    height: 100%;               
    background-color: #000; 
}





.hero {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    height: 100px;
    font-size: 25px;
    align-items: center;

}
h2 {
    display: flex;
    margin: 40px 80px;
    cursor: pointer;
}
h2:hover {
     color: #3b1217;
}
.hero .line {
    width: 2px;                  
    height: 100%;               
    background-color: #000; 
}



main {
    display: flex;
    justify-content: center;
    position: relative;
}
.footerImg {
display: block;

}
.overlaytext {
    position: absolute;
    color: #000;
    font-size: 40px;
    transform: rotate(-29deg);
    top: 360px;
    left: 830px;
    cursor: default;
}

/*about me*/


.about {
    text-align: center;
    font-size: 80px;
    font-weight: 700;
}
.lorem {
    font-size: 45px;
    text-align: center;
    font-weight: 850;
}
#arrow {
    color: #000;
    text-decoration: none;
    font-size: 40px;
    margin: 20px;
    bottom: 20px;

}
#arrow:hover {
    color: #3b1217;
}

/* resume page */
.resumeText {
    text-align: center;
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 600;
    

}
 .appimage {
    display: block;      
  margin-left: auto;   
  margin-right: auto;
 }
 


 @media (max-width: 480px) {
    /*index */
    body {
    background-color: #e9e7db;
    font-family: 'cabin sketch';
    width: 410px;

}
    .name {
    font-size: 25px;
    margin: -3px;
    cursor: default;
    text-align: center;
    
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
    height: 150px;
    

}
.mainimg {
     height: 80px;
     margin-right: -20px;
     margin-left: -30px;
     width: 90px;
}
.contact {
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: -1px;
    margin-bottom: 4px;
    cursor: default;
    margin-right: -6px;
}
a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    margin: 0px;
}
a:hover {
    color: #3b1217;
}
.line {
    width: 2px;                  
    height: 100%;               
    background-color: #000; 
    margin: -32px;
}

.hero {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    height: 80px;
    font-size: 12px;
    align-items: center;

}
main {
    display: flex;
    justify-content: center;
    position: relative;
}
.footerImg {
display: block;
height: 300px;
width: max-content;

}
.overlaytext {
    position: absolute;
    color: #000;
    font-size: 25px;
    transform: rotate(-29deg);
    top: 155px;
    left: 145px;
    cursor: default;
}
/*about */
.about {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin: 5px;
}
.lorem {
    font-size: 28px;
    text-align: center;
    font-weight: 850;
}
#arrow {
    color: #000;
    text-decoration: none;
    font-size: 35px;
    margin-left: 10px;

}
#arrow:hover {
    color: #3b1217;
}
/* resume page */
.resumeText {
    text-align: center;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    

}
 .appimage {
    display: block;      
  margin-left: auto;   
  margin-right: auto;
  height: 500px;
 }
 }
